@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  outline-color: #a5b4fc;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: #e2e8f000;
  background-image: url("https://media.istockphoto.com/id/1277594462/photo/canvas-art-background-white-total-linen-texture-cotton-pattern-close-up.jpg?s=612x612&w=0&k=20&c=kQG3Nddrpw6sCIsNV2FcVrvSem-h7RA6m_muZRCQeZI=");
  background-size: cover;
}

#container {
  width: 90%; 
  max-width: 940px; 
  padding: 32px;
  border-radius: 50px;
  background-color: #ffffff06;
  box-shadow: 2px 4px 8px #6b728040;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0 auto; 
}

#h h1 {
  color: #16030e6f;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: #e2e8f000;
}

p {
  font-size: 14px;
  color: #1c1d1f;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.signup-form {
  width: 90%; 
  max-width: 480px; 
  padding: 32px;
  border-radius: 8px;
  background-color: #ffffff00;
  box-shadow: 2px 4px 8px #f15acb00;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0 auto; 
}

.header {
  margin-bottom: 48px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #20080b;
}

.header h1 {
  font-weight: bolder;
  font-size: 28px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #1c0412;
}

.input {
  position: relative;
  margin-bottom: 24px;
}

.input input {
  width: 100%;
  border: none;
  padding: 8px 20px; 
  border-radius: 4px;
  background-color: #f3f4f6;
  color: #0a0b0b;
  font-size: 16px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.input input::placeholder {
  color: #6b7280;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.page {
  margin-left: 5%; 
  margin-top: 2%;
}

.login-button {
  width: 100%;
  border: none;
  padding: 8px 0;
  margin: 24px 0;
  border-radius: 4px;
  background-color: #210716;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  #container {
    width: 95%;
    max-width: 100%;
  }

  .signup-form {
    width: 95%;
    max-width: 100%;
  }

  .page {
    margin-left: 0;
  }
}
